body {
  margin: 0;
  background-color: darkseagreen;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}

.calendar {
  padding-bottom: 10px;
  display: grid;
  gap: 10px;
  justify-content: center;
  min-height: calc(100vh - 10px);
  grid-template-rows: auto 1fr auto;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, minmax(135px, 200px));
  grid-template-rows: min-content;
  gap: 10px;
  margin-bottom: 10px;
}

.day {
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  display: grid;
  grid-template-rows: auto 1fr;
}

h1,
h2 {
  margin: 0;
}

h2 {
  align-self: end;
}

h3 {
  margin: 0;
  justify-self: end;
  padding-right: 5px;
}

h4 {
  color: transparent;
  margin: 0;
  padding-bottom: 25px;
}

button {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: white;
  padding: 8px 16px;

  font-weight: bold;
  cursor: pointer;
}

.current h4,
.worked h4 {
  color: black;
  justify-self: center;
  align-self: center;
}

.current {
  background-color: plum;
}

.past,
.future {
  background-color: lightblue;
}

.actions {
  display: flex;
  gap: 10px;
}
.curr-month {
  margin-left: auto;
}
